body{
  font-family: "Arial","Meiryo",sans-serif;
}
.google-fonts{
  /* ここにGoogle Fontsを指定します */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
  font-size: 20px;
  text-align: center;
}
.text-skyblue{
  color: skyblue;
}
.text-pink{
  /* 以下はRGBで色を指定しています */
  color: rgb(255,192,203);
}
h1{
  font-size: 2rem;
  /* 文字に影を付けます */
  text-shadow: 1px 1px 3px gray;
  /* 文字間を文字の１.２倍にします */
  letter-spacing: 1.2em;
  /* 文字の下に実線を付けます */
  border-bottom: solid 3px rgb(115,115,114);
}

#basic p {
  font-weight: bold;
}